form#belepes {
    border: 5px solid #b69a9a;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px grey;
}

form#belepes input {
    margin-bottom: 30px;
}

form#belepes label {
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
    font-size: 12px;
    padding-top: 3px;
    font-weight: bold;
}

form#belepes input#belep {
    display: block;
    margin-left: 120px;
}

p.error {
    color: red;
}