form#regisztracio {
    border: 5px solid #b69a9a;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 350px;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px grey;
}

form#regisztracio input {
    margin-bottom: 30px;
}

form#regisztracio label {
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
    font-size: 12px;
    padding-top: 3px;
    font-weight: bold;
}

form#regisztracio input#regisztral {
    display: block;
    margin-left: 120px;
}

form#gender tr, td{
	border: none;
}