div {
	margin-bottom: 20px;
}

div#menu {
    width: 100%;
	/*width: 400px;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
    /*float: right;*/
}

div#menu ul {
	list-style: none;
}

div#menu ul li {
	display: inline;
	margin-right: 10px;
	padding: 10px;
    margin-right: 10px;
}

div#menu ul li:active {
	color: blue;
}

div#menu ul a {
	text-decoration: none;
	color: black;
}

ul a:hover { background-color: lightgrey; }

div#tartalom {
	width: 1300px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
}

div#nev_mail {
    width: 1300px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    text-align: center; 
    font-size: 20px;
}

div.error {
    border: none;
    color: red;
    background-color: #cccccc;
    width: 500px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
    /*padding-left: 50px;
    padding-right: 10px;*/
    padding-top: 10px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /*position: absolute;
    top: 400px;
    left: 530px;*/
}

div.error:first-child {
    margin-top: 15px;
}

div.notice {
    border: none;
    color: white;
    background-color: coral;
    width: 500px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.notice:first-child {
    margin-top: 15px;
}

div#fejlec {
    display: inline;
}

div.hozzaszolas {
    margin-left: 40px;
    margin-top: 5px;
    padding-top: 5px;
    height: 45px;
    width: 1000px;
    border-bottom: 1px solid grey;
}

div.hozzaszolas:last-child {
    border: none;
}

div.hozzaszolas_k {
    margin-left: 40px;
    margin-top: 5px;
    padding-top: 5px;
    height: 155px;
    width: 1000px;
    border-bottom: 1px solid grey;
}

div.hozzaszolas_k:last-child {
    border: none;
}

table#users {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

table#tema {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table#tema th, td {
    border: 1px solid black;
    width: 170px;
}

input#modositasok {
    margin-left: 575px;
    margin-top: 30px;
}

div#ujtema {
    margin-left: 450px;
    margin-top: 30px;
}

table#users td {
    border: none;
}

div#ujhozzaszolas {
    width: 500px;
    height: 150px;
    margin-top: 50px;
    margin-left: 350px;
}

div#tema_lista {
    height: 500px;
    width: 250px;
}
div#tema_lista ul {
    list-style: none;
    float: left;
    display: inline;
}

div#hozzaszolasok {
    margin-top: -522px;
    margin-left: 270px;
    width: 1050px;
    height: 400px;
    border-left: 1px solid grey;
    overflow-y: scroll;
}

div#tema_nev {
    width: 300px;
    height: 40px;
    text-align: center; 
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

div#tema_lista a {
    text-decoration: none;
}

div.nev_mail {
    position: fixed;
    bottom: 0;
}

li a#aktualis {
    background-color: yellow;
}

input#ujhozza {
    margin-bottom: 5px;
}

table#ranglista {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table#ranglista th {
    border: 1px solid black;
    width: 150px;
}

select#temakor,
select#nehezseg {
    width: 150px;
}

select#nehezseg {
    margin-right: 10px;
}

form#jatek_beallitas {
    border: 5px solid #b69a9a;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px grey;
}

form#jatek_beallitas input#jatek {
    display: block;
    margin-left: 120px;
    margin-top: 30px;
}

div#kerdes_valasz {
    margin-left: 550px;
    margin-top: 10px;
}

div#kerdes_valasz input {
    margin-left: 15px;
}

div#kerdes_valasz:first-child {
    margin-top: 50px;
}

input#valasz {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*kérdés felvétele*/
form#ujkerdes {
    border: 5px solid #b69a9a;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px grey;
}

form#ujkerdes input {
    margin-bottom: 30px;
}

form#ujkerdes label {
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
    font-size: 12px;
    padding-top: 3px;
    font-weight: bold;
}

form#ujkerdes input#hozzaad {
    display: block;
    margin-left: 90px;
}